@model DemoDB2.Models.Cart
<span class="badge bg-danger text-center" 
      style="color:white; 
      margin-top:-35px;
      margin-left:15px;
      display:flex">
    
    @ViewBag.QuantityCart
</span>
