
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<script src="~/Scripts/bootstrap.bundle.js"></script>
<link href="~/Content/Index.css" rel="stylesheet" />
<link defer href="~/Scripts/script.js" />


<button class="scroll-to-top">
    <i class="bi bi-chevron-up"></i>
</button>


<div class="banner">
    <div class="content">
        <div>
            <h2 style="font-size: 40px;">CLOTHES SHOP</h2>
            <br>
            <span>Tri ân tới khách hàng, hiện tại shop chúng tôi đang giảm giá mọi đơn hàng lên tới 99%</span>

            <div style="margin-top:32px;">
                <a href="#">Mua ngay</a>
            </div>
        </div>
    </div>
    <img src="~/img/BannerTrue3.png">
</div>




<div class="containe" style="align-items: center;">
    <h4 style="margin-left: 35px; margin-top: 50px;font-weight: bold;">10+1 BIRTHDAY COLLECTION</h4>
    <p style="margin-left: 35px">11 IS BETTER THAN 10!!!</p>
    <div class="container-card">
        <div class="card">
            <img src="~/img/Model3.jpg" style="height: 100%" />
            <div class="content"><a href="">+ XEM THÊM</a></div>
        </div>
        <div class="card">
            <img src="~/img/Model2.jpg" style="height: 100%; object-fit: cover;" />
            <div class="content"><a href="">+ XEM THÊM</a></div>
        </div>
        <div class="card">
            <img src="~/img/Model5.jpg" style="height: 100%" />
            <div class="content"><a href="">+ XEM THÊM</a></div>
        </div>
        <div class="card">
            <img src="~/img/Model7.jpg" style="height: 100%" />
            <div class="content"><a href="">+ XEM THÊM</a></div>
        </div>
    </div>

</div>








<h4 style="text-align: center; font-weight: bold; font-size: 20px; height: 15px; margin-top: 50px; margin-bottom: 50px;">COLLECTION</h4>
<div id="demo" class="carousel slide" data-bs-ride="carousel" style="margin-bottom: 150px;">
    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active bg-secondary"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1" class="bg-secondary"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2" class="bg-secondary"></button>
    </div>
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/Banner2.png" style="width:100%">
        </div>
        <div class="carousel-item">
            <img src="~/img/Banner3.png" style="width:100%">
        </div>
        <div class="carousel-item">
            <img src="~/img/BannerTrue3.png" style="width:100%">
        </div>
    </div>
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon shadow-lg bg-dark"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon shadow-lg bg-dark"></span>
    </button>
</div>



<div class="container-icons" style="margin-bottom: 150px;">
    <div class="icons">
        <div class="content">
            <img src="https://catsa.vn/web/image/399606/new-year.png" className="icon-1"></img>
            <h4 className="">RẤT NHIỀU BẤT NGỜ</h4>
            <span>Ưu đãi ngẫu nhiên khi mua tại cửa hàng</span>
        </div>

        <div class="content">
            <img src="https://catsa.vn/web/image/399605/shopping-bag.png" className="icon-2"></img>
            <h4 className="">ĐẶT HÀNG ONLINE</h4>
            <span>
                với
                <a href="#" className="" style=" color: rgb(0, 102, 255);"> 1000+</a>
                <a href="#" style="color: rgb(0, 102, 255);"> sản phẩm</a>
            </span>
        </div>
        <div class="content">
            <img src="https://catsa.vn/web/image/399607/sale.png" className="icon-3"></img>
            <h4 className="">XEM NGAY ƯU ĐÃI</h4>

            <span style="color: rgb(0, 102, 255);">
                săn deal
                <a href="#" style="color: rgb(0, 102, 255);"> siêu tiết kiệm</a>

            </span>
        </div>
    </div>

</div>

<div id='containerPe'>
    <div id="peC">
        <h2>P.E COLLECTION</h2>
        <span style="color: rgb(5, 5, 5); font-family: system-ui, -apple-system, sans-serif;">
            Con người càng “muôn màu” thì Trái Đất càng “phai màu”. BST P.E đại diện cho tiếng nói của thế hệ trẻ Việt Nam trong thời đại phát triển - Cùng lan toả thông điệp “Trái Đất và Con Người hãy cùng tồn tại song song một cách cân bằng và khoẻ mạnh”
        </span>
    </div>
    <div className='pe_i'>
        <img src="https://catsa.vn/web/image/398577/BeFunky-design%20%2864%29.jpg"></img>
    </div>
</div>

<div id="collection_clothes">
    <div class="clothes">
        <img src="https://catsa.vn/web/image/398453/BeFunky-design%20%2860%29.jpg" />
    </div>
    <div class="clothes">

        <img src="https://catsa.vn/web/image/398452/BeFunky-design%20%2859%29.jpg" />
    </div>
</div>



<div class="buy-methods-main">

    <h4 style="font-size: 25px;text-align: center; margin-bottom: 25px;font-weight: bold;">MUA HÀNG NHANH CHÓNG</h4>
    <div id="buy-methods">
        <div class="card">
            <a href="#">
                <div class="logo">

                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="black" class="bi bi-cart" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                </div>
                </i>

            </a>
            <div>
                <span>Xem hàng online</span>
                <p>Hơn 1000+ sản phẩm hot-hit đang chờ bạn khám phá</p>
                <a>Xem sản phẩm</a>
            </div>
        </div>


        <!-- <div class="card">
                <a href="#">
                        <div class="logo">

                            <i>
                                <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="black" class="bi bi-credit-card" viewBox="0 0 16 16">
                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
                                    <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
                                  </svg>
                        </i>

                    </a>
                    <div>
                        <span>Thanh toán nhanh</span>
                        <p>Chấp nhận thanh toán bằng hình thức CK, COD, VNPAY</p>
                        <a>Phương thức thanh toán</a>
                    </div>
                </div>
                </a>




        </div> -->

        <div class="card">
            <a href="#">
                <div class="logo">

                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" fill="black" class="bi bi-truck" viewBox="0 0 16 16">
                            <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                        </svg>
                    </i>

            </a>
            <div>
                <span>Ship thần tốc</span>
                <p>Đội ngũ shipper chuyên nghiệp, giao hàng nhanh chóng</p>
                <a>Chính sách giao hàng</a>
            </div>
        </div>
        </a>
    </div>



    <style>
    </style>
